flows.json
[{"id":"697f2fdc.4654","type":"tab","label":"Life Expectancy ","disabled":false,"info":""},{"id":"46e7c39d.a0347c","type":"ui_form","z":"697f2fdc.4654","name":"","label":"","group":"cabfe11.0e6802","order":2,"width":0,"height":0,"options":[{"label":"Status (0 for developed:1 for developing) ","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS\t","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources\t","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":50,"y":100,"wires":[["5c90ff3d.34c33"]]},{"id":"5c90ff3d.34c33","type":"function","z":"697f2fdc.4654","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"cHD7G3i4cTcbDOdMYlY3WLRizue5ExFO_S0fdVN8WPE8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":100,"wires":[["5097cf6b.31413"]]},{"id":"ab956964.191c68","type":"http request","z":"697f2fdc.4654","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/375936e3-ecf0-4fc9-95b1-631d19a0be7c/deployments/61031cc1-8285-491c-a8b9-d09db8cbadce/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["7e6d770f.773c48","f3db50a5.11f1d"]]},{"id":"acc8ffc.87f78","type":"debug","z":"697f2fdc.4654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"f3db50a5.11f1d","type":"function","z":"697f2fdc.4654","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["acc8ffc.87f78","9ea0518.456c8b"]]},{"id":"7e6d770f.773c48","type":"debug","z":"697f2fdc.4654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"9bba262c.7cd458","type":"function","z":"697f2fdc.4654","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"375936e3-ecf0-4fc9-95b1-631d19a0be7c\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\n//get variables that are set earlier\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n    msg.payload = \n{\"fields\":[\"Status\",\"Adult Mortality\",\n\"infant deaths\",\n\"Alcohol\",\n\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness 1-19 years\",\n       \"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\n\"values\":[[b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\n//send the user values to service endpoint\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["ab956964.191c68"]]},{"id":"5097cf6b.31413","type":"http request","z":"697f2fdc.4654","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":100,"wires":[["9bba262c.7cd458"]]},{"id":"9ea0518.456c8b","type":"ui_text","z":"697f2fdc.4654","group":"cabfe11.0e6802","order":1,"width":0,"height":0,"name":"","label":"Predicted Value","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":400,"wires":[]},{"id":"cabfe11.0e6802","type":"ui_group","z":"","name":"Form","tab":"843ff7c4.51e9c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"843ff7c4.51e9c8","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","order":1,"disabled":false,"hidden":false}]